.container {
  display: flex;
  flex-direction: row;
  background-color: #F4F4F4;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 72px;
  gap: 8px;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
  border: none;
  background-color: #F4F4F4;
}