@font-face {
  font-family: 'Mutter LVS';
  src: url('/Front/fonts/Mutter_LVS.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../public/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.propertiesContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
h1 {
  color: #000;
  font-family: 'Mutter LVS', sans-serif;
  font-size: 42px;
  text-align: center;
}
.buildingPropertyContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.buildingPropertyButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}
.h2 {
  font-weight: 400;
  font-size: 22px;
}
