.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.container > :first-child {
    flex: 0 0 30%;
  }
  
  /* Set Simulation width to 70% */
  .container > :last-child {
    flex: 0 0 70%;
  }